# Dipendenze
/node_modules

# Impostazioni editor
.vscode/
.idea/

# File di build generati (questi NON vanno su Git, li genera Cloudflare durante il deploy)
/dist
/public/app.js
server
public/src
*.tsbuildinfo

# Log ed errori
npm-debug.log*
yarn-debug.log*
yarn-error.log*

